
@media screen and (min-width: 639px) {
    
    /*SIDEBAR*/
    .sidebar{
        flex-basis:300px;
    }
    #spotify{
        display: inline;
    }
    #new-playlist {
    display: inline;
    }

    .d-sm-none{
        display: none;
    }
    
    .d-sm-block{
        display: block;
    }



    .main-img{
        width: 150px;
    }


}

@media screen and (min-width: 878px) {
    .main-img{
    
    }

}