/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    margin: 0;
    
}

/*General*/

.container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.logo{
    color: white;
    width: 30px;
}

/*Layout*/

.main {
  display: flex;
  height: 100vh; 
}

/*SIDEBAR*/
.sidebar {
  max-width: 200px;
  color: white;
  background-color: #000000;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
}
.spotify-text{
    display: flex;
    gap: 10px;
    align-items: center;
}

#spotify{
    display: none;
}
/*CONTENT SECTION*/
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  color: white;
  background-color: #080B12;
  padding: 20px;
  position: sticky;
  top: 0;
}

section {
  padding: 20px;
  color: white;
  background-color: #141922;
  border: 1px solid #ccc;
  overflow-y: auto;  /* Abilita la scrollbar*/
}





/*FOOTER*/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #282828;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
