/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
}

/*utils*/

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo{
    color: white;
    width: 30px;
    height: 30px;
}

ul{
  list-style-type: none;
}
/*Layout*/

.main {
  display: flex;
  flex-grow:1;
  overflow:auto;
}

/*SIDEBAR*/
.sidebar {
  color: white;
  background-color: #000000;
  padding: 10px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50px;
}

.spotify-text{
  display: flex;
  gap: 10px;
  align-items: center;
}

#spotify{
  display: none;
  font-size: 20px;
  font-weight: 500;
}

.sidebar-logo{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#new-playlist{
  display: none;
}


/*CONTENT SECTION*/
.content {
  display: flex;
  flex-direction: column;
  overflow:auto;
  flex-grow:1;
}

/*HEADER BAR*/
header {
  color: white;
  background-color: rgb(8 11 18 / 91%);
  padding: 20px;
  position: sticky;
  top: 0;
}

.head-bar{
  text-align: end;
}

#upgrade-btn{
  text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: small;
}

/*playbox*/
.play-box {
  padding: 20px;
  color: white;
  background-color: #141922;
  border: 1px solid #ccc;

  border: none;
}

.music-bar-selection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.music-bar-selection li{
  padding: 5px;
}

.playlist-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.playlist-section h3{
  margin: 10px 0;
}
.playlist-section h6{
  margin: 5px 0;
}
.playlist-list img{
  height: 12rem;
  margin: 10px 0;
}

.playlist-list p{
  text-align: center;
  margin: 5px 0;
}

/*FOOTER*/
footer {
  height: 40px;
 
  background-color: #282828;
  color: #fff;
  text-align: center;
  padding: 10px 0;

  flex-shrink: 0;
}
