/*General*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat';
    margin: 0;
    
}

/*utils*/

.container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
}

.logo{
    color: white;
    width: 30px;
    height: 30px;
}

ul{
  list-style-type: none;
}
/*Layout*/

.main {
  display: flex;
  height: 100vh; 
}

/*SIDEBAR*/
.sidebar {
  color: white;
  background-color: #000000;
  padding: 10px;
  position: sticky;
  top: 0;
  height: calc(100vh - 40px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;

  flex-basis: 10%;
}

.spotify-text{
  display: flex;
  gap: 10px;
  align-items: center;
}

#spotify{
  display: none;
  font-size: 20px;
  font-weight: 500;
}

.sidebar-logo{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#new-playlist{
  display: none;
}


/*CONTENT SECTION*/
.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  flex-basis: 90%;
}

/*HEADER BAR*/
header {
  color: white;
  background-color: #080B12;
  padding: 20px;
  position: sticky;
  top: 0;
}

.head-bar{
  text-align: end;
}

#upgrade-btn{
  text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: small;
}

/*playbox*/
.play-box {
  padding: 20px;
  color: white;
  background-color: #141922;
  border: 1px solid #ccc;
  overflow-y: auto;  /* Abilita la scrollbar*/
  height: 100%;
}

.music-bar-selection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.music-bar-selection li{
  padding: 5px;
}

.playlist-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.playlist-section h3{
  margin: 10px 0;
}
.playlist-section h6{
  margin: 5px 0;
}
.playlist-list img{
  height: 12rem;
  margin: 10px 0;
}

.playlist-list p{
  text-align: center;
  margin: 5px 0;
}

/*FOOTER*/
footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #282828;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
